<p><strong>Dr. <%= @doctor.name %></strong></p>

<p><img src="<%= @doctor.image %>"></p>

<p>
  <%= @doctor.description %>
</p>

<p class="btn btn-success"><%= link_to "Welcome Registration Form", new_user_registration_path %></p>
<p class="btn btn-default"><%= link_to 'Back', doctors_path %></p>

