<div class="row">
<div class="col-md-6">
<p><strong><%= @doctor.name %></strong></p>

<p><img src="<%= @doctor.image %>"></p>

<p>
  <%= @doctor.description %>
</p>
<p class="btn btn-default"><%= link_to 'Back', doctors_path %></p>
<% if !user_signed_in? %>
  <p class="btn btn-default btn-lg"><%= link_to "Welcome Registration Form", new_user_registration_path %></p>
<% end %>
</div>
<div class="col-md-4">
<% if @doctor.id != 5 %>
    <h4>Patients Waiting To Be Seen</h4>
    <p><%= render @users %></p>
  <% else %>
    <h4>All Patients Seen Today</h4>
    <p><%= render @users %></p>
  <% end %>

</div>

</div>

