<p><strong>Dr. <%= @doctor.name %></strong></p>

<p><img src="<%= @doctor.image %>"></p>

<p>
  <%= @doctor.description %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
